.button button{
    margin: 0 6px 6px 0;
    padding: 10px 15px;
    transform: skewX(-15deg);
    background-color: #333;
    color: #E1CA94;
    border: none;
    font-weight: bold;
    box-shadow: 6px 6px 0 #9F6D29;
    cursor: pointer;
}

.button button:hover {
    margin: 6px 0 0 6px;
    box-shadow: none;
}
