body {
    color: #333;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: PigpenCipher;
    src: url("../../public/PigpenCipher.otf") format("opentype");
}

@font-face {
    font-family: Arrows;
    src: url("../../public/Arrows.woff") format("woff");
}

.pigpen {
    font-family: PigpenCipher, serif;
}

.arrow {
    font-family: Arrows, serif;
    letter-spacing: 10px;
    line-height: 140%;
    font-size: 70px;
}

html,
body,
#root {
    height: 100%;
}

#root {
    background: url("../../public/background.png");
    background-size: cover;
}

#root .page {
    display: flex;
    flex-direction: column;
}

html,
input,
select,
button {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 2px 2px #555;
}

h2 {
    margin-bottom: 15px;
}

input,
select {
    margin: 0;
    padding: 10px;
}

h1 {
    margin-top: 0.75rem;
    margin-bottom: 0.4rem;
}

h2,
h3,
h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

* {
    font-family: 'Fredoka', sans-serif;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.two-column > * {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.three-column {
    display: flex;
    flex-direction: row;
}

.three-column > * {
    display: flex;
    width: 33.3%;
    flex-direction: column;
}
