.memory-game .row {
    width: 80%;
    min-height: 150px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
}

.memory-game .item {
    width: 150px;
    height: 150px;
    background: #D2CAB9;
    margin-right: 20px;
    border: 8px solid #333;
    cursor: pointer;
}

.memory-game .item:last-child {
    margin-right: 0;
}

.memory-game .item img {
    width: 100%;
    height: 100%;
}

.memory-game .item:hover {
    border-width: 4px;
    margin: 4px 24px 4px 4px;
}

.memory-game .item:last-child:hover {
    margin-right: 4px;
}
