.button-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-group a:first-of-type {
    margin-right: 30px;
}

.button-group a {
    display: inline-block;
    vertical-align: top;
}

#menu .reset {
    width: fit-content;
    margin: 100px auto 0;
}
