.multiple-choice-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple-choice-game > .question {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.multiple-choice-game > .answers {

}

.multiple-choice-game > .answers > .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.multiple-choice-game > .answers > .row > .competitor {
    width: 40px;
    display: flex;
    align-items: center;
}

.multiple-choice-game > .answers > .row > .competitor > input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 40px;
    height: 40px;
    border: 4px solid #333;
    border-radius: 50%;
    transform: translateY(-0.075em);
    cursor: pointer;
    display: grid;
    place-content: center;
    color: #333;
}

.multiple-choice-game > .answers > .row > .competitor > input:before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #333;
}

.multiple-choice-game > .answers > .row > .competitor > input:checked:before {
    transform: scale(1);
}

.multiple-choice-game > .answers > .row > .answer {
    font-size: 40px;
    flex-grow: 1;
    padding: 0 40px;
}

.multiple-choice-game > .answers > .row > .answer:last-child {
    margin-bottom: 0;
}

.multiple-choice-game > .answers.revealed > .row.correct > .answer {
    color: #338833;
    font-weight: bold;
}

.multiple-choice-game > .answers.revealed > .row.correct > .competitor > input:checked {
    color: #338833;
}

.multiple-choice-game > .answers.revealed > .row.correct > .competitor > input:checked:before {
    box-shadow: inset 1em 1em #338833;
}

.multiple-choice-game > .answers.revealed > .row.wrong > .answer {
    color: #883333;
}

.multiple-choice-game > .answers.revealed > .row.wrong > .competitor > input:checked {
    color: #883333;
}

.multiple-choice-game > .answers.revealed > .row.wrong > .competitor > input:checked:before {
    box-shadow: inset 1em 1em #883333;
}

.multiple-choice-game > .reveal {
    margin-top: 40px;
}
