.music-video-quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.music-video-quiz > .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.music-video-quiz > .row.player {
    min-height: 390px;
}

.music-video-quiz > .row:last-child {
    margin-bottom: 0;
}

.music-video-quiz div > iframe {
    display: none;
}

.music-video-quiz.show div > iframe {
    display: block;
}

.music-video-quiz .button {
    margin-right: 40px;
}

.music-video-quiz .button:last-child {
    margin-right: 0;
}
