.names-display {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.3);
}

.names-display > div > span:first-of-type {
    margin-right: 5px;
}

.names-display > div > span:last-of-type {
    font-weight: bold;
}
