.points-counter {
    display: flex;
    flex-direction: row;
}

.points-counter > .player {
    width: 50%;
    text-align: center;
}

.points-counter > .player > h3 {
    font-size: 60px;
    display: inline-block;
}

.points-counter > .player > h4 {
    font-size: 45px;
}
