.scoreboard-config {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 45px;
    min-height: 68px;
}

.scoreboard-config > .id {
    width: 10%;
}

.scoreboard-config > .name {
    width: 20%;
}

.scoreboard-config > .student {
    width: 20%;
}

.scoreboard-config > .supervisor {
    width: 20%;
}

.scoreboard-config > .audience {
    width: 20%;
}

.scoreboard-config input {
    width: 80%;
}
