.scoreboard-result-template {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 15px;
    text-align: center;
    font-size: 45px;
    min-height: 68px;
}

.scoreboard-result-template > .id {
    width: 10%;
}

.scoreboard-result-template > .name {
    width: 30%;
}

.scoreboard-result-template.delete > .name {
    width: 30%;
}

.scoreboard-result-template.delete > .name {
    width: 20%;
}

.scoreboard-result-template > .student {
    width: 20%;
}

.scoreboard-result-template > .supervisor {
    width: 20%;
}

.scoreboard-result-template > .audience {
    width: 20%;
}

.scoreboard-result-template > .supervisor-audience {
    width: 40%;
}

.scoreboard-result-template > .delete {
    width: 10%;
}
